<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC 
  "-//Hibernate/Hibernate Configuration DTD 3.0//EN" 
  "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/student</property>
		<property name="connection.username">root</property>
		<property name="connection.password">Gaurav@2001</property>
		
		
		<!-- Hibernate Properties -->
    <property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>
    <property name="hbm2ddl.auto">create</property>
    <property name="show_sql">true</property>
    <property name="format_sql">true</property>
    <mapping class = "com.prowings.Student1"/>
    <mapping class = "com.prowings.OneToOneMapping.Question"/>
    <mapping class = "com.prowings.OneToOneMapping.Answer"/>
    <mapping class = "com.prowings.OneToManyMapping.Student"/>
    <mapping class = "com.prowings.OneToManyMapping.Laptop"/>
    
    
    
	</session-factory>
</hibernate-configuration>